@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
body{
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}

.hero--main{
  display: flex;
  height: 720px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero--main__logo {
    margin-top: 139px;
    max-height: 259px;
    padding-bottom: 55px;
}

.txt-type {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 4.4px;
    margin: 0 auto 140px;
    font-size: 3.9vw;
}



@media screen and (max-width: 667px) {

  .hero--main{
    height: 100%;
  }

  .hero--main__logo {
    max-width: 80%;
    margin-top: 37vw;
  }
  .txt-type{
    max-width: 100%;
    font-size: 6.6vw;
    letter-spacing: 2px;
  }

}