@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
body{
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}

.hero--main{
  display: flex;
  height: 720px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero--main__logo {
    margin-top: 166px;
    max-height: 260px;
    padding-bottom: 55px;
}

.line-1{
  font-family: 'PT Sans', sans-serif;
    letter-spacing: 4.4px;
    margin: 0 137px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 13.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@media screen and (max-width: 667px) {

  .hero--main{
    height: 100%;
  }

  .hero--main__logo {
    max-width: 81%;
    margin-top: 60vw;
  }

  .line-1 {
    font-size: 25px;
    letter-spacing: 2px;
  }

}